<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlx.guide.dao.EmUserMapper" >
  <resultMap id="BaseResultMap" type="com.mlx.guide.entity.EmUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="em_type" property="emType" jdbcType="VARCHAR" />
    <result column="em_user" property="emUser" jdbcType="VARCHAR" />
    <result column="em_uuid" property="emUuid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_no, em_type, em_user, em_uuid, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from em_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUserNo" resultMap="BaseResultMap" parameterType="String" >
   select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from em_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
  <select id="listByExample" resultMap="BaseResultMap" parameterType="com.mlx.guide.entity.EmUser" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from em_user
   <trim prefix="where" prefixOverrides="and|or" >
    <if test="id !=null">
    and id=#{id}
    </if>
    <if test="userNo !=null">
    and user_no=#{userNo}
    </if>
    <if test="emUser !=null">
    and em_user=#{emUser}
    </if>
    <if test="emType !=null">
    and em_type=#{emType}
    </if>
    <if test="emUuid !=null">
    and em_uuid=#{emUuid}
    </if>
   </trim>
   
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from em_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mlx.guide.entity.EmUser" >
    insert into em_user (id, user_no, em_type, 
      em_user, em_uuid, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{userNo,jdbcType=VARCHAR}, #{emType,jdbcType=VARCHAR}, 
      #{emUser,jdbcType=VARCHAR}, #{emUuid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mlx.guide.entity.EmUser" >
    insert into em_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="emType != null" >
        em_type,
      </if>
      <if test="emUser != null" >
        em_user,
      </if>
      <if test="emUuid != null" >
        em_uuid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="emType != null" >
        #{emType,jdbcType=VARCHAR},
      </if>
      <if test="emUser != null" >
        #{emUser,jdbcType=VARCHAR},
      </if>
      <if test="emUuid != null" >
        #{emUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlx.guide.entity.EmUser" >
    update em_user
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="emType != null" >
        em_type = #{emType,jdbcType=VARCHAR},
      </if>
      <if test="emUser != null" >
        em_user = #{emUser,jdbcType=VARCHAR},
      </if>
      <if test="emUuid != null" >
        em_uuid = #{emUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlx.guide.entity.EmUser" >
    update em_user
    set user_no = #{userNo,jdbcType=VARCHAR},
      em_type = #{emType,jdbcType=VARCHAR},
      em_user = #{emUser,jdbcType=VARCHAR},
      em_uuid = #{emUuid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>