<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlx.guide.dao.GuideIntroMapper" >
  <resultMap id="BaseResultMap" type="com.mlx.guide.entity.GuideIntro" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="recommend_info" property="recommendInfo" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="audit_remark" property="auditRemark" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mlx.guide.entity.GuideIntro" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, description, img_url, recommend_info, user_no, user_name, flag, update_time, 
    audit_remark, audit_time, audit_status, create_time, status, sort
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  
 <sql id="base_where_clause">
   <trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="title != null and title != ''">
				and title like concat('%',#{title},'%')
			</if>
			<if test="userNo != null and userNo != ''">
				and user_no like concat('%',#{userNo},'%')
			</if>
			
			<if test="description != null and description != ''">
				and description like concat('%',#{description},'%')
			</if>
			<if test=" userName !=null and  userName  !=''">
			
			   and  user_name like concat('%',#{userName},'%')
			</if>
			
			<if test="auditStatus !=null and  auditStatus  !=''">
			
			   and  audit_status =#{auditStatus}
			</if>
			
			<if test="startTime != null and startTime!='' and endTime!='' and endTime !=null">
				and update_time between CONCAT(#{startTime},' 00:00:00') AND CONCAT(#{endTime},' 23:59:59')
			</if>
			<if test="status != null and status !=''">
				and status = #{status}
			</if>
		</trim>
  
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from guide_intro
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getGuideIntroByUserNo" parameterType="String" resultMap="ResultMapWithBLOBs">
    	SELECT 
			<include refid="Base_Column_List" /> 
			,
    		<include refid="Blob_Column_List" />
			FROM guide_intro where user_no = #{userNo}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from guide_intro
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mlx.guide.entity.GuideIntro" >
    insert into guide_intro (id, title, description, 
      img_url, recommend_info, user_no, 
      user_name, flag, update_time, 
      audit_remark, audit_time, audit_status, 
      create_time, status, sort, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{recommendInfo,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{auditRemark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, #{auditStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mlx.guide.entity.GuideIntro" >
    insert into guide_intro
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="recommendInfo != null" >
        recommend_info,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="auditRemark != null" >
        audit_remark,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommendInfo != null" >
        #{recommendInfo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null" >
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlx.guide.entity.GuideIntro" >
    update guide_intro
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommendInfo != null" >
        recommend_info = #{recommendInfo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null" >
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mlx.guide.entity.GuideIntro" >
    update guide_intro
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      recommend_info = #{recommendInfo,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlx.guide.entity.GuideIntro" >
    update guide_intro
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      recommend_info = #{recommendInfo,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
 <select id="getGuideIntroPageList" parameterType="com.mlx.guide.model.GuideIntroModel" resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List"/>
   ,
   <include refid="Blob_Column_List" />
    from guide_intro
   <include refid="base_where_clause"/>
 
 </select>
</mapper>