<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlx.guide.dao.GuideInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mlx.guide.entity.GuideInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="guide_level" property="guideLevel" jdbcType="VARCHAR" />
    <result column="bg_img_url" property="bgImgUrl" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="work_year" property="workYear" jdbcType="INTEGER" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="guide_card_no" property="guideCardNo" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="id_card_front_pic" property="idCardFrontPic" jdbcType="VARCHAR" />
    <result column="id_card_side_pic" property="idCardSidePic" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_no, update_time, create_time, real_name, guide_level, bg_img_url, age, sign, 
    tag, work_year, intro, guide_card_no, id_card, id_card_front_pic, id_card_side_pic, 
    audit_status, status
  </sql>
  <sql id="base_where_clause">
   <trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			
			<if test="userNo != null and userNo != ''">
				and user_no = #{userNo}
			</if>
			<if test="realName!=null and realName!=''"> 
			   and real_name like concat('%',#{realName},'%')
			</if>
			
			<if test="status!=null and status!=''">
			  and status = #{status}
			</if>
			<if test="auditStatus!=null and auditStatus!=' '">
			   and audit_status = #{auditStatus}
			</if>
			<if test="startTime != null and startTime!='' and endTime!='' and endTime !=null">
				and create_time between CONCAT(#{startTime},' 00:00:00') AND CONCAT(#{endTime},' 23:59:59')
			</if>
			<if test="guideCardNo!=null and guideCardNo!=''">
			 	 and guide_card_no like concat('%',#{guideCardNo},'%')
			</if>
			<if test="workYear!=null and workYear!=''">
			  and work_year =#{workYear}
			</if>
			<if test="age!=null and age!=''">
			   and age=#{age}
			</if>
		</trim>
  
  </sql>
    <sql id="where_clause">
   <trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			
			<if test="userNo != null and userNo != ''">
				and user_no = #{userNo}
			</if>
			<if test="realName!=null and realName!=''"> 
			   and real_name like concat('%',#{realName},'%')
			</if>
			
			<if test="status!=null and status!=''">
			  and status = #{status}
			</if> 
			<if test="auditStatus!=null and auditStatus!=' '">
			   and audit_status = #{auditStatus}
			</if>
			<if test="guideCardNo!=null and guideCardNo!=''">
			 	 and guide_card_no like concat('%',#{guideCardNo},'%')
			</if>
			<if test="workYear!=null and workYear!=''">
			  and work_year =#{workYear}
			</if>
			<if test="age!=null and age!=''">
			   and age=#{age}
			</if>
		</trim>
  
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from guide_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!-- 查询本月新增的用户数 -->
  <select id="countByDate"  resultType="java.lang.Long" parameterType="Integer">
  select count(g.id) from guide_info g where MONTH(g.create_time)=#{month}
  </select>
  <select id="getGuideInfoByUserNo" parameterType="String" resultMap="BaseResultMap">
    	SELECT 
			<include refid="Base_Column_List" /> 
			FROM guide_info where user_no = #{userNo}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from guide_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mlx.guide.entity.GuideInfo" >
    insert into guide_info (id, user_no, update_time, 
      create_time, real_name, guide_level, 
      bg_img_url, age, sign, 
      tag, work_year, intro, 
      guide_card_no, id_card, id_card_front_pic, 
      id_card_side_pic, audit_status, status
      )
    values (#{id,jdbcType=BIGINT}, #{userNo,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{realName,jdbcType=VARCHAR}, #{guideLevel,jdbcType=VARCHAR}, 
      #{bgImgUrl,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sign,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{workYear,jdbcType=INTEGER}, #{intro,jdbcType=VARCHAR}, 
      #{guideCardNo,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{idCardFrontPic,jdbcType=VARCHAR}, 
      #{idCardSidePic,jdbcType=VARCHAR}, #{auditStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mlx.guide.entity.GuideInfo" >
    insert into guide_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="guideLevel != null" >
        guide_level,
      </if>
      <if test="bgImgUrl != null" >
        bg_img_url,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="workYear != null" >
        work_year,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="guideCardNo != null" >
        guide_card_no,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="idCardFrontPic != null" >
        id_card_front_pic,
      </if>
      <if test="idCardSidePic != null" >
        id_card_side_pic,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="guideLevel != null" >
        #{guideLevel,jdbcType=VARCHAR},
      </if>
      <if test="bgImgUrl != null" >
        #{bgImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        #{workYear,jdbcType=INTEGER},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="guideCardNo != null" >
        #{guideCardNo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontPic != null" >
        #{idCardFrontPic,jdbcType=VARCHAR},
      </if>
      <if test="idCardSidePic != null" >
        #{idCardSidePic,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlx.guide.entity.GuideInfo" >
    update guide_info
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="guideLevel != null" >
        guide_level = #{guideLevel,jdbcType=VARCHAR},
      </if>
      <if test="bgImgUrl != null" >
        bg_img_url = #{bgImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        work_year = #{workYear,jdbcType=INTEGER},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="guideCardNo != null" >
        guide_card_no = #{guideCardNo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontPic != null" >
        id_card_front_pic = #{idCardFrontPic,jdbcType=VARCHAR},
      </if>
      <if test="idCardSidePic != null" >
        id_card_side_pic = #{idCardSidePic,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlx.guide.entity.GuideInfo" >
    update guide_info
    set user_no = #{userNo,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      real_name = #{realName,jdbcType=VARCHAR},
      guide_level = #{guideLevel,jdbcType=VARCHAR},
      bg_img_url = #{bgImgUrl,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      work_year = #{workYear,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      guide_card_no = #{guideCardNo,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      id_card_front_pic = #{idCardFrontPic,jdbcType=VARCHAR},
      id_card_side_pic = #{idCardSidePic,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getGuideInfoPageList" parameterType="com.mlx.guide.model.GuideInfoModel" resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List"/>
    from guide_info
    <include refid="base_where_clause"/>
   
  </select>
  
  <select id="getGuideInfoList" parameterType="com.mlx.guide.entity.GuideInfo" resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List"/>
    from guide_info
    <include refid="where_clause"/>
   
  </select>
  
   
  <select id="getPageListByAuthstr" parameterType="com.mlx.guide.entity.GuideInfo" resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List"/>
    from guide_info where 1=1
           <if test="id != null and id != ''">
				and id = #{id}
			</if>
			
			<if test="userNo != null and userNo != ''">
				and user_no = #{userNo}
			</if>
			<if test="realName!=null and realName!=''"> 
			   and real_name like concat('%',#{realName},'%')
			</if>
			
			<if test="status!=null and status!=''">
			  and status = #{status}
			</if>
			<if test="auditStatus!=null and auditStatus!=''">
			   and audit_status = #{auditStatus}
			</if>
			<if test="startTime != null and startTime!='' and endTime!='' and endTime !=null">
				and create_time between CONCAT(#{startTime},' 00:00:00') AND CONCAT(#{endTime},' 23:59:59')
			</if>
			<if test="guideCardNo!=null and guideCardNo!=''">
			 	 and guide_card_no like concat('%',#{guideCardNo},'%')
			</if>
			<if test="workYear!=null and workYear!=''">
			  and work_year =#{workYear}
			</if>
			<if test="age!=null and age!=''">
			   and age=#{age}
			</if>
        and audit_status!=2
  </select>
  
</mapper>