<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlx.guide.dao.GuideTuanGuestMapper" >
  <resultMap id="BaseResultMap" type="com.mlx.guide.entity.GuideTuanGuest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tuan_no" property="tuanNo" jdbcType="VARCHAR" />
    <result column="guest_name" property="guestName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tuan_no, guest_name, mobile, order_no, remark, status,update_time
  </sql>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
    			<if test="id != null and id != ''" >
			and id = #{id}
			</if>
			<if test="tuanNo != null and tuanNo != ''" >
			and tuan_no = #{tuanNo}
			</if>
			<if test="guestName != null and guestName != ''" >
			and guest_name = #{guestName}
			</if>
			<if test="mobile != null and mobile != ''" >
			and mobile = #{mobile}
			</if>
			<if test="orderNo != null and orderNo != ''" >
			and order_no = #{orderNo}
			</if>
			<if test="remark != null and remark != ''" >
			and remark = #{remark}
			</if>
			<if test="status != null and status != ''" >
			and status = #{status}
			</if>
			<if test="updateTime != null and updateTime != ''" >
			and update_time = #{updateTime}
			</if>
			
    </trim>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from guide_tuan_guest
    where id = #{id,jdbcType=INTEGER}
  </select>
  
 <select id="getGuideTuanGuestPageList" resultMap="BaseResultMap" parameterType="com.mlx.guide.entity.GuideTuanGuest">
    	SELECT 
			<include refid="Base_Column_List" /> 
			FROM guide_tuan_guest
			<include refid="Example_Where_Clause" />
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from guide_tuan_guest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mlx.guide.entity.GuideTuanGuest" >
    insert into guide_tuan_guest (id, tuan_no, guest_name, 
      mobile, order_no, remark,update_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{tuanNo,jdbcType=VARCHAR}, #{guestName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT},#{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mlx.guide.entity.GuideTuanGuest" >
    insert into guide_tuan_guest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tuanNo != null" >
        tuan_no,
      </if>
      <if test="guestName != null" >
        guest_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null">
		update_time,
	 </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tuanNo != null" >
        #{tuanNo,jdbcType=VARCHAR},
      </if>
      <if test="guestName != null" >
        #{guestName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="batTnsertSelective"  >
    insert into guide_tuan_guest
     	(
        tuan_no,
        guest_name,
        mobile,
        order_no
     
		) values 
  
    <foreach collection="list" item="item" index="index" separator="," >
   (
        #{item.tuanNo,jdbcType=VARCHAR},
        #{item.guestName,jdbcType=VARCHAR},
        #{item.mobile,jdbcType=VARCHAR},
        #{item.orderNo,jdbcType=VARCHAR}
 
  
    )
    </foreach>
   
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlx.guide.entity.GuideTuanGuest" >
    update guide_tuan_guest
    <set >
      <if test="tuanNo != null" >
        tuan_no = #{tuanNo,jdbcType=VARCHAR},
      </if>
      <if test="guestName != null" >
        guest_name = #{guestName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlx.guide.entity.GuideTuanGuest" >
    update guide_tuan_guest
    set tuan_no = #{tuanNo,jdbcType=VARCHAR},
      guest_name = #{guestName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      update_time = #{jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>